<nav class="feed-nav">
  <%= link_to "Trending", :trending, class: (live == "trending" ? "live" : "") %>
  <%= link_to "Recent", :recent, class: (live == "recent" ? "live" : "") %>
  <%= link_to "Feed", :feed, class: (live == "show" ? "live" : "") %>
</nav>