<nav class="feed-nav">
  <% live = live || "" %>
  <%= link_to "Trending", :trending, class: (live == "trending" ? "live" : "") %>
  <%= link_to "Recent", :recent, class: (live == "recent" ? "live" : "") %>
</nav>