<div class="question">
  <h2><%= link_to @question.entry, question_show_path(@question) %></h2>
  <ul>
    <% @question = @question.answers.sort_by{ |answer| answer.votes.count }.reverse.take(3) %>
    <% @question.each do |answer| %>
      <li><%= link_to answer.entry, vote_cast_path(answer.id), method: :post %>(<%= answer.votes.count %>)</li>
    <% end %>
  </ul>
</div>