<section class="questions-container">
  <% @questions.each do |question| %>
    <% @question = question %>
    <%= render 'feed/question' %>
  <% end %>
</section>
<% if @questions %>
  <section class="pages">
    <%= will_paginate @questions %>
  </section>
<% end %>