<% if @feed.private && @feed.account != current_account %>
  <h1>This feed doesn't belong to you. Bummer.</h1>
<% else %>
  <h1><%= @feed.name %> Feed</h1>
  <div>
    <%= render 'questions' %>
  </div>
<% end %>