.panel
  .questions-container
    width: 100%
    text-align: center
    .question
      margin: 10px 0
    +respond-to("medium")
      width: $viewport-medium * 0.78
      .question
        margin: 5px
    +respond-to("large")
      width: $viewport-large * 0.79