.panel
  .questions-container
    width: 970px
    
    @media (max-width: 1150px)
      width: 650px
    @media (max-width: 740px)
      width: 320px
    @media (max-width: 340px)
      text-align: center
      width: 100%
      .question
        margin: 10px 0