// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-group
  width: 100%
  
  +respond-to("medium")
    width: 600px
    
  input[type=text]
    width: 100%
    +respond-to("medium")
      width: 60%
  input[type=submit]
    margin: 30px auto
    width: 50%
    display: block
  .group-options
    li
      margin: 10px 0

.show-group
  padding: 30px
  .group-details
    padding: 20px
    background: $baseColor
    color: $darkColor
    display: inline-block
    width: 29%
    vertical-align: top
    h1
      margin: 2px 0
    h2
      font-size: 1em
      +upcase
      color: $primaryColor
    input[type=text]
      font-size: 12px
      width: 80%
  .group-questions
    display: inline-block
    width: 70%
    vertical-align: top
