<main class="landing">
<!--<div class="logo">-->
<img class="logo" src="/assets/logo.svg"/>
<!--</div>-->
<div class="container">
  <div class="slogan">
    <h1 class="landingslogan">Get <span class="bold">real-time </span>answers from <span class="bold">real </span>people </h1>
    <h3>current events, opinions, local knowledge</h3>
  </div>
</div>
<footer class="landingfooter">
  <%= link_to "Get Going", :trending, class: "button" %>
  <h5><a class="learn" href="#">Learn More</a></h5>
  <h5><%=link_to "Login", session_login_path, class:"login" %></h5>
</footer>
</main>
