<h1>Login</h1>
<main class="login bin">
    <%= form_tag session_login_path, class: "form", id: "form1" do %>
  <% if @login_errors %>
    <h2><%= @login_errors %></h2>
  <% end %>
      <label for="email">Email:</label>
      <input name="email" type="text" class="validate[required,custom[onlyLetter],length[0,100]]" placeholder="Email..." id="email" />
      <label for="password">Password:</label>
      <input name="password" type="password" class="validate[required,custom[email]]" id="password" placeholder="Password..." />
      <div>
        <input type="submit" value="Login" />
      </div>
<% end %>
</main>
  