<footer class="page-footer">
  <div><a href="mailto:hello@asknow.io">We love feedback</a></div>
  <p class="fine-print">
    &copy; 2014 Mealey Dev, LLC. All rights reserved. <%= link_to "Terms and Privacy", :privacy %>
 </p>
</footer>