<header class="header">
  <wrapper>
    <a href="<%= trending_path %>"><img class="logo" src="/assets/logo-small.svg"/></a>
    <%= link_to current_community.name, community_path %>
  </wrapper>
</header>