<header class="header">
<wrapper>

  <img class="logo" src="/assets/smalllogo.png"/>
  
  <a href="#">Seattle, WA</a>
  
  <img class="hamburger" src="/assets/menu-button.png"/>
  </wrapper>
</header>