<header class="header">
  <a class="logo" href="<%= trending_path %>">
    <img src="/assets/logo-small.svg"/>
  </a>
  <p class="account-snippet">
    <%= link_to current_account.display_name, account_panel_path %>
  </p>
</header>