<h1>Please verify your account</h1>
<p>Just to make sure you're legit, we sent you an email. Go ahead and click the link that we gave you.</p>
<%= form_tag :account_resend_code, method: :post do %>
  <%= hidden_field_tag "account_id", @account.id %>
  <%= submit_tag "Resend Verification "%>
<% end %>