<main class="panel">
  <h1>How's it going, <%= @account.display_name %>?</h1>
  <% if !@account.guest? %>
    <%= link_to "Logout", session_logout_path, method: "post" %>
  <% else %>
   <%= link_to "Login", session_login_path %>
  <% end %>
  <h2>Questions You've Asked</h2>
  <%= render 'feed/questions' %>
</main>