* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family:"Glober";
  margin:0;
  color: $primaryColor;
}
section {
  display: block;
  width: 100%;
}
a {
  &:link, &:visited {
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:$darkColor;
  }
  &:hover {
    color:black;
  }
  &:active {
    color:$liveColor;
  }
  &.live {
    font-weight:bold;
    color:$liveColor;
    text-decoration:underline;
  }
}
.button, a.button {
  background:$primaryColor;
  color:white;
  padding:12px 20px 8px 20px;
  @include border-top-radius(2px);
  @include border-bottom-radius(2px);
  display:inline-block;
  
  &.secondary-button {
    background:$lightColor;
    
  }
}
