// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feed-nav {
  margin:10px 0;
  text-align: center;
  a {
    padding:0 30px;
    color: $baseColor;
    
    @media (max-width:400px){
      padding:0 10px;
    }
  }
}
.pages {
  text-align:center;
  margin:20px 0;
  a {
    font-size:1.2em;
   
    padding:8px 15px 0 15px;
    background:$baseColor;
  }
  .current-page {
    background:$liveColor;
    color:white;
  }
}