@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_Regular.otf");
  font-weight:normal;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_Bold.otf");
  font-weight:bold;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_Book.otf");
  font-weight:lighter;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_SemiBold.otf");
  font-weight:500;
}
