$navHeight: 60px;

nav {
  position:fixed;
  background:#da3f2d;
  top:0;
  right:-300px;
  height:100%;
  width:300px;
  
  .open-menu, .close-menu {
    position:absolute;
    top:0;
    font-size:2em;
    width:$navHeight;
    height: $navHeight;
    cursor:pointer;
    color:white;
    border:none;
    background: #333;
  }
  
  .open-menu {
    z-index:100;
    left:-$navHeight;
  }
  
  .close-menu {
    right:0;
  }
  
  ul {
    padding:0;
    color:white;
    margin:0;
    
    li {
      list-style-type:none;
      a:link, a:visited {
        color:white;
        display:block;
        width:100%;
        padding:20px 60px 20px 20px;
        width:calc(100% - 80px);
        
        &:hover {
          background:#bd2918;
        }
      }
    }
  }
}

.header {
  height:$navHeight;
  width:100%;
  background-color: rgb(244, 93, 76);

  a {
    text-decoration:none;
    color:rgb(255, 203, 186);
    margin-bottom:2em;
    clear:both;
    
  }
  .logo {
    height:100%;
    display:inline-block;
  }
}
