.basic-layout {
  background-color:$baseColor;
}

$navHeight: 60px;

.open-menu {
  z-index:100;
}

.open-menu, .close-menu {
  position:absolute;
  top:0;
  right:0;
  font-size:2em;
  width:$navHeight;
  height: $navHeight;
  cursor:pointer;
  color:white;
  border:none;
  background: $darkColor;
  outline:none;
}

.menu {
  position:fixed;
  background:white;
  top:0;
  right:0;
  height:100%;
  width:300px;
  border-left:10px solid $darkColor;
  z-index:200;
  display:none;
  
  ul {
    padding:0;
    color:white;
    margin:0;
    
    li {
      list-style-type:none;
      a:link, a:visited {
        color:#333;
        display:block;
        width:100%;
        padding:20px 60px 16px 20px;
        
        &:hover {
          background:$baseColor;
          color:white;
        }
      }
    }
  }
}

.header {
  height:$navHeight;
  width:100%;
  background-color: $baseColor;

  a {
    display:inline-block;
    vertical-align:middle;

    &.logo {
      height:100%;

      img {
        height:90%;
      }
    }
  }
  
  .account-snippet {
    float:right;
    position:relative;
    right:80px;
    top:5px;
  }
}

.login {

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgb(244, 93, 76);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family:"glober", sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid ;
	color: #50c7be;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#50c7be;
	border:#50c7be solid 3px;
}

/* Icons ---------------------------------- */
#name{
//	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
//	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
//	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
//	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}



textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button{
	font-family: 'Glober', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgb(255, 203, 186); ;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button:hover{
	background-color: rgba(0,0,0,0);
	color:#50c7be;
}
	
.submit:hover {
	color:#50c7be;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.button:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
  h2 {
    color:rgb(255, 203, 186);
  }
  h1 {
    color:rgb(255, 203, 186);
    text-align: center;
    font-weight: 100;
    
  }
  
}
.show {
  .questions-container {
  padding:10px;
  text-align:center;
  
}
.question {
  position: relative;
  padding: 10px 16px;
  background-color: #F45D4C;
  color: white;
  margin-top: 10px;
  text-align: left;
  border-radius: 2px;
  font-size: 13px;
  min-width:300px;
  

  @media (min-width: 730px) and (max-width: 1144px) {
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }

  @media (min-width: 650px) and (max-width: 860px) {
    font-size: 13px;
  }

  @media (min-width: 1145px) {
    width: 27.5%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;

    ul, a {
      margin: 1em auto;
      padding: .25em;
    }
  }

  ul {
    padding: 0;
    margin:0;

    li {
      list-style-type: none;
      background-color: white;
      margin:4px 0;
      border-radius:2px;

      a {
        text-decoration: none;
        color: #BC2D1D;
        width: 100%;

        .counter {
          height:100%;
          display:inline-block;
          position:relative;
          left:-4px;
          padding:7px 13px;
          background:#f5f5f5;
          border-top-left-radius:2px;
          border-bottom-left-radius:2px;

          &.answered {
            background:$liveColor;
            color:white;
          }
        }
        .answer-entry {
          display:inline-block;
        }
      }
    }
  }

 .suggest-answer {
   background:none;
   font-size:0.9em;
   padding-top:15px;
   font-weight:100;
   display: none;

   a {
     color:$lightColor;
   }
 }
}

.placeholder {
  margin: 10px auto;
  font-size:1.5em;
  text-align: center;

  a {
    text-transform:none;
    text-decoration: none;
    color:$darkColor;
  }
}
  input {
    margin:0 auto;
    margin-top:0.7em;
    display:block;
  }
  .suggest {
    text-align: center;
  }
  .new_answer {
    text-align: center;
  }
  .del {
    margin-top:0.5em;
   text-align: center;
    display: block;
  }
}