// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-member {
  h1 {
    text-align: center;
    color: #5c140c;
  }

  section {
    margin: 0 auto;
    color: #5c140c;
    text-align: center;
    font-size: 20px;
  }

  .member {
    background-color:rgb(244, 93, 76);
    padding: 3em 3em .5em 3em;
    width: 35%;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 7px;
    webkit-border-radius: 7px;

    label {
      display: block;
      margin: 5px;
      text-align: left;
    }
  }

  input {
    width: 100%;
  }

  .signup {


      input {
      width: 35%;
    border-radius: 4px;
    background: #5c140c;
    color: white;
    margin: 1em auto;
    }
  }

  div {
    margin: 5px 0 auto;
  } 
}
